<!DOCTYPE html>
<html lang="en" >
{% load static %}


<head>

  <meta charset="UTF-8">
  <title>time-table</title>




      <style>
      @font-face {
    font-family: IRANSans;
    src: url({% static "timetable/IRANSansWeb_Light.woff" %});
}
      body {
        font-family: 'IRANSans';
  margin: 0;
  padding:0;
}
main {
  margin: auto;
}
header {
  direction: rtl;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  background: url({% static "timetable/bg.png" %});
/*   background: red; */
  background-size: 100% auto;
}
header .right {
  float: right;
  padding: 0px 80px;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  text-align: center;
/*   background: green; */
}
header .right img {
  border: 2px solid white;
     height: 130px;
}
header .center {
  width: 40%;
  margin: auto;
  text-align: center;
  display: inline-block;
  float: right;
/*   background: red; */
}
header .center img {
  width: 100px;
}
header .center .mail {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 5px 15px;
background: #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
border-radius: 77px;
  /* y_sedaghat@um.ac.ir: */
font-family: GurmukhiMN;
font-size: 18px;
color: #090909;
letter-spacing: 0;
text-align: center;
}
header .left {
/*   background: blue; */
  width: 30%;
  float: left;
  padding: 20px 0px 0 0;
  display: inline-block;
  text-align: center;
}
header .left span {
  /* font-family: IRANSans; */
font-size: 15px;
color: #FFFFFF;
letter-spacing: 0;
}
header .left .status {
  /* Rectangle 11: */
  /* font-family: IRANSans; */
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
  width: fit-content;
  padding: 8px 30px 10px 30px;
  margin: 10px auto auto auto;
background: #3DB5AB;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
border-radius: 100px;
}
header .info {
  text-align: right;
  width: 90%;
  float: right;
  margin: 5px 5%;
  height: 50px;
  background: #3DB5AB;
  line-height: 48px;
  padding-right: 2.5%;
  padding-left: 2.5%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);

  border-radius: 50px;
}
header .info .txt {
/* font-family: IRANSans; */
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* text-align: center; */
  display: inline-block;
}
header .info span {
  /* Rectangle 12: */
background: #D6F0FF;
  width: 8px;
  height: 8px;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
}
.time {
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  width: 85%;
  background: white;
  /* Rectangle 10: */
background: #FFFFFF;
    border: 2px solid #3db5ab;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
border-radius: 5px;
  margin: 40px auto auto auto;
}
.time thead th{
/*   background: red; */
color:white;font-weight:bold;background: #3db5ab;
  padding-top: 7px;
  padding-bottom: 7px;
}
.time th {
  /* شنبه: */
/* font-family: IRANSans; */
  font-weight: normal;
font-size: 14px;
color: #000000;
letter-spacing: 0;
text-align: center;
}
.time tbody tr th{
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #3DB5AB;
  color: white;
}
.time td,.time th {
  border: 1px solid rgba(10,71,106,.2);
}
.time thead th:first-child {
  /*border-top-left-radius: 10px;*/
}
footer {
  width: 100%;
  text-align: center;
  height: auto;
  /*margin: auto;*/
  /* position: fixed; */

  /* bottom: 0; */
}
footer .where {
    margin-top: 10px;
  /*margin: auto;*/
  /* به فلان جا مراجعه کن: */
/* font-family: IRANSans; */
font-size: 19px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
  /* Rectangle 13: */
background: #0A476A;
  width: 100%;
   padding-top: 10px;
  padding-bottom: 10px;
}
footer .about {
    /*margin-top: 10px;*/
  /*margin: auto;*/
  /* به فلان جا مراجعه کن: */
/* font-family: IRANSans; */
font-size: 13px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
  /* Rectangle 13: */
background: #0F6EA5;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .creator {
    /*margin-top: 10px;*/
  /*margin: auto;*/
  /* به فلان جا مراجعه کن: */
/* font-family: IRANSans; */
font-size: 13px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
  /* Rectangle 13: */
background: #0F6EA5;
  width: 100%;
   padding-top: 11px;
  padding-bottom: 10px;
}
.today {
  border: 3px solid #0a476a;
  animation-name: example;
  animation-iteration-count: infinite;
    animation-duration: 3s;
    border-radius: 10px;
}
@keyframes example {
    0% {border: 3px solid #0a476a;}
    50% {border: 3px solid rgba(10,71,106,.2)}
    100% {border: 3px solid #0a476a;}
}
    </style>

  <script>
  window.console = window.console || function(t) {};
</script>



  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >

  <main>
  <header>
    <div class="right">
      <img src="../media/showProfPic.jpg"/>
    </div>
    <div class="center">
      <a href="#">
        <img src="../media/logo.png"/>
      </a>
      <!--<div class="mail">-->
      <!--   y_sedaghat@um.ac.ir-->
      <!--</div>-->
    </div>
    <div class="left">
      <span>وضعیت :</span>
      <div class="status">
        عدم حضور در دفتر
      </div>
    </div>
    <div class="info">
      <div class="txt">
        دانشکده مهندسی
          </div>
      <span></span>
      <div class="txt">
          گروه کامپیوتر
      </div>
      <div class="txt" style="float:left;">
          نیم سال اول ۱۳۹۷
      </div>
    </div>
  </header>
  <table class="time">
  <thead style="color:white;font-weight:bold;background: #3db5ab;">
    <th> </th>
    <th>۸-۱۰</th>
    <th>۱۰-۱۲</th>
    <th>۱۴-۱۶</th>
    <th>۱۶-۱۸</th>
    <th>۱۸-۲۰</th>
  </thead>
    <tbody>
  <tr>
    <th>شنبه
    <br>
      ۹۷/۰۳/۰۱
    </th>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
  <tr>
    <th>یکشنبه
    <br>
      ۹۷/۰۳/۰۱
    </th></th>
    <td>cell 4</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
    <tr class="today">
    <th>
      دوشنبه
      <br>
      ۹۷/۰۳/۰۱
    </th></th>
    <td>cell 4</td>
      <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
    <tr>
    <th>سه شنبه
      <br>
      ۹۷/۰۳/۰۱
    </th></th>
    <td>cell 4</td>
      <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
    <tr>
    <th>چهارشنبه
      <br>
      ۹۷/۰۳/۰۱
    </th></th>
    <td>cell 4</td>
      <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
      <tr>
    <th>پنجشنبه
        <br>
      ۹۷/۰۳/۰۱
    </th></th>
    <td>cell 4</td>
      <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
    <td>cell 2</td>
  </tr>
    </tbody>
</table>
  <footer>
    <div class="where">
      به آزمایشگاه ریزپردازنده مراجعه کنید
    </div>
    <!-- <div class="about">
      به آزمایشگاه ریزپردازنده مراجعه کنید
    </div> -->
    <div class="creator">
      به آزمایشگاه ریزپردازنده مراجعه کنید
    </div>
  </footer>
</main>






</body>

</html>
