<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Hello</h1>
{% if professors %}
    {% for professor in professors %}
        <h2>
            {{ professor }}
        </h2>
    {% endfor %}
{% endif %}
</body>
</html>